# Copyright 2024 Endless OS Foundation, LLC
# SPDX-License-Identifier: CC0-1.0
root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space

[debian/rules]
indent_style = tab

[meson.build]
indent_size = 2

[*.py]
indent_size = 4
max_line_length = 88
