# Copyright 2020 Endless OS Foundation, LLC
# SPDX-License-Identifier: LGPL-2.1-or-later

[flake8]
# The default is 79 characters. Black, a popular auto-formatter, defaults to 88
# based on empirical research.
# https://black.readthedocs.io/en/stable/the_black_code_style.html#line-length
max-line-length = 88

# Check python scripts without a .py suffix.
filename =
    *.py,
    ./eos-updater-ctl/eos-updater-ctl,
    ./eos-updater-prepare-volume/eos-updater-prepare-volume

# Ignore vendored scripts.
extend-exclude =
    ./tests/taptestrunner.py
