*.la
*.lo
*.log
*.trs
*.o
*~
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/eos-autoupdater.service
data/eos-autoupdater.timer
data/eos-update-server.service
data/eos-update-server.socket
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/eos-updater.debhelper.log
debian/eos-updater.postinst.debhelper
debian/eos-updater.postrm.debhelper
debian/eos-updater.prerm.debhelper
debian/eos-updater.substvars
debian/eos-updater/
debian/eos-updater-dbg.substvars
debian/eos-updater-dbg/
debian/files
debian/tmp/
depcomp
docs/eos-updater-decl-list.txt
docs/eos-updater-decl-list.txt.bak
docs/eos-updater-decl.txt
docs/eos-updater-decl.txt.bak
docs/eos-updater-overrides.txt
docs/eos-updater-undeclared.txt
docs/eos-updater-undocumented.txt
docs/eos-updater-unused.txt
docs/eos-updater.args
docs/eos-updater.hierarchy
docs/eos-updater.interfaces
docs/eos-updater.prerequisites
docs/eos-updater.signals
docs/gtkdoc-check.test
docs/html-build.stamp
docs/html.stamp
docs/html/
docs/scan-build.stamp
docs/setup-build.stamp
docs/sgml-build.stamp
docs/sgml.stamp
docs/xml/
eos-gdb.sh
eos-prepare.sh
eos-updater-0.pc
gtk-doc.make
install-sh
libtool
ltmain.sh
m4/
missing
src/EosUpdater-0.0.gir
src/EosUpdater-0.0.typelib
src/Makefile
src/Makefile.in
src/com.endlessm.Updater.conf
src/com.endlessm.Updater.service
src/eos-autoupdater
src/eos-prepare-volume
src/eos-update-server
src/eos-updater
src/eos-updater-generated.c
src/eos-updater-generated.h
stamp-h1
test-driver
tests/test-update-from-lan
tests/test-update-from-main
tests/test-update-from-volume
