*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config
configure
compile
depcomp
missing
install-sh
stamp-h1
src/ostree-daemon-generated.c
src/ostree-daemon-generated.h
src/Makefile
src/Makefile.in
src/eos-updater
data/eos-updater.service
data/eos-updater.timer
