Source: eos-updater
Section: misc
Priority: optional
Maintainer: John Hiesey <john@endlessm.com>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9.0.0),
	eos-metrics-0-dev,
	libglib2.0-dev (>= 2.36.0),
	libnm-glib-dev,
	libsystemd-dev,
	libostree-dev (>= 2015.6),
	libgsystem-dev,
	libsoup2.4-dev,
	xsltproc,
	dh-autoreconf,
	dh-systemd

Package: eos-updater
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
	systemd (>= 200)
Description: Updater for EndlessOS
 This package contains the components for keeping Endless OS up to date.

Package: eos-updater-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, eos-updater (= ${binary:Version})
Description: Updater for EndlessOS - debugging symbols
 This package contains the components for keeping Endless OS up to date.
 .
 This package provides the eos-updater debugging symbols.
